#Base URL
GATE_BASE_URL=https://labor-project-backend.onrender.com

#Gate Key
GATE_CLIENT_ID=gate-main
GATE_CLIENT_SECRET=change-me

#Upstash Redis
UPSTASH_REDIS_KV_REST_API_URL=https://your-instance.upstash.io
UPSTASH_REDIS_KV_REST_API_TOKEN=change-me
